*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    min-height: 100vh;
    background-image: url(133934184872076727.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    
    padding: 1.3rem 10%;

    /*background: rgb(210, 16, 116);*/
    /*filter: blur(5px);*/
    
    display: flex;
    justify-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 100%;
    background: rgb(0, 0, 0,1);

}
.header::after{
     content: '';
    position: absolute;
    top: 0;
    left: 100;
    width: 100;
    height: 100%;
    background: linear-gradient(90deg, transparent, red, transparent);
    transition: .5s;
}

.header:hover::after{
    left: 100%;

}










.logo{
    font-size: 1.5rem;
    color:blanchedalmond;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    
    font: size 1.15em;
    color: rgb(212, 231, 11);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
.check{
    display: none;
}

icons{
    position: absolute;
    right: 0;
    font-size: 2.8rem;
    color:cyan;
    cursor: pointer;
    display: none;
}
/*-------breadpoint-------*/
@media (max-width: 992px) {
    .header{
        padding: 1.3rem 5s;
    }
}
@media  (max-width: 768px){
    .icons{
        display: inline-flex;
    }
    .check:checked~.icons.bx-menu-icon {
        display: none;
    }
    .check:checked~.icons.bx-eye-closed{
        display: block;
    }
.navbar{
    position: absolute;
    top: 100;
    left: 0;
    width: 100;
    height: 0;
    background: rgb(8, 8, 143);
    overflow: hidden;
    transition: .3 ease;
    
}
.check:checked~.navbar{
    height: 17.7rem;
}
.navbar a{
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translate(-50px);
    opacity: 0;
    transform: .3s ease;
}
.check:checked~.navbar a {
transform: translate(0);
opacity: 1;
transition-delay: calc(.15s * var(--i));
}
}
