body{
    background-image: url(NationFlag.png);
 
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;

    justify-items: center;
    align-items: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f4;
    
}